<h1>Ajout d'un fan!</h1>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="fan-name">Nom : </label>
        <input formControlName="name" id="fan-name" type="text" required>
        <p>Messages d'erreurs</p>
    </div>
    <div>
        <label for="fan-birth">Date de naissance : </label>
        <input formControlName="birthdate" id="fan-birth" type="date" required>
        <p>Messages d'erreurs</p>
    </div>
    <fieldset>
        <legend>Series : </legend>
        <button type="button" (click)="addSerie()">+</button>
        <div formArrayName="series" *ngFor="let c of seriesArrayForm.controls; let i = index">
            <label [for]="'fan-serie-'+i">Titre {{i+1}} : </label>
            <input [id]="'fan-serie-'+i" [formControlName]="i" type="text" required>
            <p>Messages d'erreurs</p>
            <button type="button" (click)="removeSerie(i)">-</button>
        </div>
    </fieldset>
    <div>
        <button type="submit">Ajouter</button>
    </div>
</form>
<a routerLink="/exos/fans-list">Revenir à la liste</a>
